.vscode/*
bcm2835-1.**/
build/*
local_build/*
depends/*

*.tar.*

*.elf
*.hex
*.map
*.o

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
